
    <div class="menu">

        <div>
            <ul>
                <li>
                    <form action="/bank" method="get">
                        <button class="btn btn-outline-success">Bank</button>
                    </form>
                </li>
                <br>
                <li>
                    <form action="/money" method="get">
                        <button class="btn btn-outline-success">Money</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
