
.header{
    position: sticky;
    top:0;
    width: auto;
    height: 50px;
    background-color: #388E3C;
}

.logo{
    text-align: right;
    font-size: 25px;
    color: antiquewhite;
    margin-right: 5px;
}
.icon{
    text-align: left;
    margin-left: 5px;


}